<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.useurlresponse" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/smile1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SuccessActivity"
            android:label="@string/title_activity_success">
        </activity>
        <activity
            android:name=".FalseActivity"
            android:label="@string/title_activity_false" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".tools.MusicPlayer"
            android:label="@string/title_activity_musicplayer" >
        </activity>
        <activity
            android:name=".tools.ShowPicture"
            android:label="@string/title_activity_showpicture" >
        </activity>

    </application>

</manifest>
